<div id="page-signup" [ngStyle]="{ 'background-color': primaryColor }">
  <div class="d-flex flex-column align-items-center justify-content-center h-100">
    <div class="card p-3">
      <div class="card-content">
        <div class="card-header">
          <h4 class="card-title">Criar Conta</h4>
          <p class="card-text"> Preencha os campos abaixo para criar uma nova conta. </p>
        </div>
        <div class="card-body">
          <div *ngIf="!!alertMessage" class="alert alert-warning text-light" style="background-color: #ffb22b;">
            <a class="close cursor-pointer" title="Esconder" style="font-weight: normal; color:#fafafa" (click)="alertMessage = ''">×</a>
            <span>{{ alertMessage }}</span>
          </div>
          <div class="form-group">
            <input [(ngModel)]="organization.name" class="form-control text-dark" placeholder="Empresa"
              [disabled]="!!invitationDetails.organization.name">
          </div>
          <div class="form-group">

            <input class="form-control text-dark" placeholder="CNPJ" [ngModel]="organization.cnpj | doc"
              (ngModelChange)="organization.cnpj = $event" [disabled]="!!invitationDetails.organization.cnpj">
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <input [(ngModel)]="user.firstName" class="form-control text-dark" placeholder="Nome"
                [disabled]="!!invitationDetails.userDetails?.firstName">
            </div>
            <div class="col-md-6 form-group">
              <input [(ngModel)]="user.lastName" class="form-control text-dark" placeholder="Sobrenome"
                [disabled]="!!invitationDetails.userDetails?.lastName">
            </div>
          </div>
          <div class="form-group">
            <input [(ngModel)]="user.phone" class="form-control text-dark" placeholder="Celular" type="tel"
              [disabled]="!!invitationDetails.userDetails?.phone">
          </div>
          <div class="form-group">
            <input [(ngModel)]="user.email" class="form-control text-dark" placeholder="E-mail" type="email"
              [disabled]="!!invitationDetails.email" autocomplete="off">
          </div>
          <div class="form-group">
            <input [(ngModel)]="password" placeholder="Senha" class="form-control text-dark" type="password"
              autocomplete="new-password">
          </div>
          <div class="form-group">
            <input [(ngModel)]="passwordCheck" placeholder="Confirmar Senha" class="form-control text-dark"
              type="password">
          </div>

          <div class="form-group d-none ">
            <p id="password-strength-text" class="mb-1">Força: Pior</p>
            <meter id="password-strength-meter" max="5" value="1" style="display: block;"></meter>
          </div>

          <div class="form-group text-center">
            Já possui uma conta? <a routerLink="/auth/logout" class="text-primary">
              <strong>Entrar</strong>&nbsp;&nbsp;<i class="far fa-sign-in"></i>
            </a>
          </div>

        </div>

        <div class="card-footer border-0 p-0 bg-white">
          <div class="container-fluid px-0 justify-content-between text-center">
            <button class="btn btn-light text-dark text-uppercase mx-2 d-none ">
              Entrar
            </button>
            <button (click)="register()" class="btn btn-primary text-light text-uppercase mx-2">
              Criar Conta
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
