table {
  width: 100%;
}

.cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}


td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 8px;
}
  