<h2 mat-dialog-title>
  <i class="fad fa-envelope"></i>&nbsp;&nbsp;Convidar Usuário
</h2>
<mat-dialog-content class="border-top border-bottom">
  <div class="container-fluid px-0 py-3">
    <div class="row">
      <div class="col-12">
        <form [formGroup]="invitationForm" class="form-body">
          <div class="form-group col-6 p-0">
            <label>Tipo do Usuário *</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-users-cog"></i>
                </span>
              </div>
              <select class="custom-select" formControlName="type" required>
                <option *ngIf="currentUser.type === 0" value="0" selected>Administrador</option>
                <option value="1" selected>Contador</option>
                <option value="2">Cliente</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label>E-mail *</label>
            <div class="input-group w-100">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
              <input #emailInput class="form-control" formControlName="email" placeholder="exemplo@dominio.com"
                required>
            </div>
            <small class="form-text text-muted">
              E-mail para envio do convite. <span class="text-dark">(Este também será o e-mail de login).</span>
            </small>
          </div>
          <div class="form-group" [class.d-none]="!showOrganizationsFields() || organizations.length > 0">
            <div class="input-group w-100">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fad fa-industry-alt"></i>
                </span>
              </div>
              <input #organizationInput [matAutocomplete]="auto" class="form-control" formControlName="organization"
                placeholder="Empresa" required>
              <div class="input-group-append">
                <span *ngIf="isFetching" class="input-group-text bg-white">
                  <i class="fal fa-spinner-third fa-spin"></i>
                </span>
                <span *ngIf="!isFetching && organizationsOptions.length > 0" (click)="organizationsOptions = []"
                  class="input-group-text cursor-pointer bg-white text-danger">
                  <i class="fad fa-times "></i>
                </span>
              </div>
            </div>
            <small class="form-text text-muted">
              Informe o nome da empresa a ser vincula ao usuário quando aceitar o convite.
            </small>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of organizationsOptions" (onSelectionChange)="appendOrganization(option)">
                <span>{{ option.name }}</span>
                <!-- <br>
              <small>{{option.cnpj}}</small> -->
              </mat-option>
            </mat-autocomplete>
          </div>
          <div *ngIf=" alertFeedback.visible" class="form-group">
            <div [class]="alertFeedback.classes" role="alert">
              <strong>{{alertFeedback.title}}</strong> {{alertFeedback.message}}
            </div>
          </div>
          <table [class.d-none]="!showOrganizationsFields() || organizations.length == 0" mat-table matSort
            [dataSource]="dataSource" class="w-100 table-hover mat-elevation-z0">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="firstName"> <strong>Empresa</strong> </th>
              <td mat-cell *matCellDef="let element">
                <a [routerLink]="element.id">{{element.codigoERP}} - {{element.name}}</a><br>
                <small>{{element.cnpj}}</small>
              </td>
            </ng-container>
            <ng-container matColumnDef="cnpj">
              <th mat-header-cell *matHeaderCellDef class="text-center"> Ações </th>
              <td mat-cell *matCellDef="let element" class="text-center">
                <button class="btn btn-link text-danger" (click)="removeOrganization(element)" title="Remover">
                  <i class="fad fa-times fa-lg"></i>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row class="cursor-pointer" *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>
          <!-- <mat-paginator [length]="pageInfo.totalElements" [pageSize]="pageInfo.pageSize" [pageSizeOptions]="[5, 10, 20 ]"
          (page)="onPageChange($event)">
        </mat-paginator> -->
        </form>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <div class="container-fluid px-0 py-3 justify-content-between">
    <button class="btn btn-light text-danger mx-2" mat-dialog-close>Cancelar</button>
    <button class="btn btn-primary text-light mx-2" (click)="invite()">Convidar</button>
  </div>
</mat-dialog-actions>
