<div class="content-wrapper full-width-nav-tabs py-2">
  <div class="container">
    <ul class="nav nav-pills flex-row-reverse row">
      <li class="nav-item notification-sidebar-toggle col-xl-2 col-lg-3 col-md-3 col-sm col" *ngFor="let btn of buttons;">
        <button *ngIf="btn.verification !== false && typeof(getColor(btn.color)) === 'string'" class="btn nav-link py-1 px-2 active" [class]="btn.color ? btn.color : 'btn-primary'"
          (click)="select(btn.id)"
          >
          <i aria-hidden="true" [class]="btn.icon"></i>
          <span class="ml-2"> {{ btn.label.toUpperCase() }} </span>
        </button>
      <button *ngIf="btn.verification !== false && typeof(btn.color) === 'object'" class="btn nav-link py-1 px-2 active b-none" [style]="color(btn)"
        (click)="select(btn.id)"
        >
        <i aria-hidden="true" [class]="btn.icon"></i>
        <span class="ml-2"> {{ btn.label.toUpperCase() }} </span>
      </button>
      </li>
    </ul>
  </div>
</div>
