<div class="page-wrapper bg-white">
  <app-breadcrumb [append]="breadcrumb"></app-breadcrumb>
  <div class="container pt-4">
    <div class="row">
      <div class="col">

      </div>
    </div>
    <div class="row pb-2">
      <div class="col-12">
        <div *ngIf="organization.active === false"
          class="row m-0 alert alert-warning animated headShake align-items-center" role="alert">
          <div class="col-8">
            <strong>{{ organization.type === 1 ? 'Contabilidade' : 'Empresa' }} Inativa!</strong> <br>
            <small></small>
          </div>
          <div *ngIf="canSwitchStatus()" class="col-4">
            <button class="btn btn-warning float-right" (click)="patch(organization.id, {'active': true})">
              Ativar {{ organization.type === 1 ? 'Contabilidade' : 'Empresa' }}
            </button>
          </div>
        </div>
        <div class="form-body pt-4">
          <div *ngIf="organization.type === 1" class="form-group row pb-2">
            <div class="col-md-3">
              <h5 class="m-0"><i class="ft-user"></i> Logo da Contabilidade</h5>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
              <div class="container">
                <div class="row">
                  <div class="col-12 p-0">
                    <a class="position-relative w-100 p-0" (click)="canEditLogo() ? openDialog(): 0">
                      <img [src]="organization.avatar || './assets/images/Landscape_Placeholder.png'"
                        class="img-thumbnail" alt="Lucas Martins"
                        onError="this.src='./assets/images/Portrait_Placeholder.png';">
                    </a>
                  </div>
                </div>
                <div *ngIf="canEditLogo() && organization.avatar == null" class="row justify-content-center mt-2">
                  <button type="button" (click)="openDialog()"
                    class="btn btn-link text-primary">
                    <i aria-hidden="true" class="fad fa-pencil-alt"></i>
                    <span>&nbsp;&nbsp;Adicionar</span>
                  </button>
                </div>
                <div *ngIf="canEditLogo() && organization.avatar != null" class="row justify-content-center mt-2">
                  <button type="button" (click)="openDialog()"
                    class="btn btn-link text-primary">
                    <i aria-hidden="true" class="fad fa-pencil-alt"></i>
                    <span>&nbsp;&nbsp;Editar</span>
                  </button>
                  <button type="button" (click)="removerLogoContabilidade()"
                    class="btn btn-link text-danger">
                    <i aria-hidden="true" class="fas fa-times"></i>
                    <span>&nbsp;&nbsp;Remover</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- ************************************************************************************************** -->
          <!-- **********************              Informações Básicas                *************************** -->
          <!-- ************************************************************************************************** -->
          <div class="form-group row">
            <div class="col-md-3">
              <h5 class="m-0"><i class="ft-user"></i> Informações Básicas</h5>
            </div>
            <label for="name" class="col-md-3 label-control text-right"><span class="align-middle">Nome:</span></label>
            <div class="input-group col-md-6">
              <input id="name" class="form-control" [(ngModel)]="organization.name" [disabled]="!isEditing('name')">
              <div *ngIf="canEditOrganization()" class=" input-group-append">
                <button class="btn border fa fa-pencil" *ngIf="!isEditing('name')" (click)="edit('name')">
                </button>
                <button class="btn border fa fa-save text-success" *ngIf="isEditing('name')"
                  (click)="patch(organization.id, {'name': organization.name})">
                </button>
                <button class="btn border fa fa-times text-danger" *ngIf="isEditing('name')" (click)="edit()">
                </button>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-3"> </div>
            <label for="cnpj" class="col-md-3 label-control text-right">CNPJ: </label>
            <div class="input-group col-md-6">
              <input id="cnpj" class="form-control" [(ngModel)]="organization.cnpj" [disabled]="!isEditing('cnpj')">
              <div *ngIf="canEditOrganization()" class=" input-group-append">
                <button class="btn border fa fa-pencil" *ngIf="!isEditing('cnpj')" (click)="edit('cnpj')">
                </button>
                <button class="btn border fa fa-save text-success" *ngIf="isEditing('cnpj')"
                  (click)="patch(organization.id, {'cnpj': organization.cnpj})">
                </button>
                <button class="btn border fa fa-times text-danger" *ngIf="isEditing('cnpj')" (click)="edit()">
                </button>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-3"> </div>
            <label for="codigoERP" class="col-md-3 label-control text-right">Código ERP: </label>
            <div class="input-group col-md-6">
              <input id="codigoERP" class="form-control" [(ngModel)]="organization.codigoERP"
                [disabled]="!isEditing('codigoERP')">
              <div *ngIf="canEditOrganization()" class=" input-group-append">
                <button class="btn border fa fa-pencil" *ngIf="!isEditing('codigoERP')" (click)="edit('codigoERP')">
                </button>
                <button class="btn border fa fa-save text-success" *ngIf="isEditing('codigoERP')"
                  (click)="patch(organization.id, {'codigoERP': organization.codigoERP})">
                </button>
                <button class="btn border fa fa-times text-danger" *ngIf="isEditing('codigoERP')" (click)="edit()">
                </button>
              </div>
            </div>
          </div>

          <hr *ngIf="canSwitchStatus()" class="mt-5 mb-4">
          <div *ngIf="canSwitchStatus()" class="form-group row">
            <div class="col-md-3">
              <h5 class="m-0"><i class="ft-user"></i> Situação da {{ organization.type === 1 ? 'Contabilidade' : 'Empresa' }}</h5>
            </div>
            <label for="email" class="col-md-3 label-control text-right"></label>
            <div *ngIf="organization.active === false" class="m-0 alert alert-warning align-items-center"
              role="alert">

              <div class="row m-0 p-0 align-items-center">
                <div class="col-8 col-sm-6 col-xs-6">
                  <strong>{{ organization.type === 1 ? 'Contabilidade' : 'Empresa' }} Inativada!</strong> <br><small class="d-none">Usuários inativos não tem acesso ao
                    sistema.</small>
                </div>
                <div *ngIf="canSwitchStatus()" class="col-4 col-sm-6 col-xs-6">
                  <button class="btn btn-warning float-right" (click)="patch(organization.id, {'active': true})">Ativar
                    {{ organization.type === 1 ? 'Contabilidade' : 'Empresa' }}</button>
                </div>
              </div>
            </div>
            <div *ngIf="organization.active === true" class="m-0 alert" role="alert">
              <div class="row m-0 p-0 align-items-center">
                <div class="col-8 col-sm-6 col-xs-6 text-success">
                  <strong class="">{{ organization.type === 1 ? 'Contabilidade' : 'Empresa' }} Ativa! <i class="far fa-smile-wink"></i></strong> <br><small
                    class="d-none">Acesso liberado ao
                    sistema. </small>
                </div>
                <div *ngIf="canSwitchStatus()" class="col-4 col-sm-6 col-xs-6">
                  <button class="btn btn-warning float-right"
                    (click)="patch(organization.id, {'active': false})">Inativar
                    {{ organization.type === 1 ? 'Contabilidade' : 'Empresa' }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer d-none"> © 2017 Material Pro Admin by wrappixel.com </footer>
</div>
