<div class="container pt-4">
  <div class="row">
    <div class="col">
      <table mat-table matSort [dataSource]="users" class="table-hover mat-elevation-z0">
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="email"> <strong>Usuário</strong> </th>
          <td mat-cell *matCellDef="let element" class="py-2">
            <a>{{ element.email }}</a><br>
            <small class="text-muted"> {{element.organization.name}}</small>
          </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Tipo </th>
          <td mat-cell *matCellDef="let element">
            {{ element.type === 0 ? 'Administrador' : element.type === 1 ? 'Contador' : 'Cliente'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Ações </th>
          <td mat-cell *matCellDef="let element" class="text-center">
            <button class="btn text-primary jello" (click)="copyInvitationLink(element, $event)" title="Copiar link para cadastro.">
              <i class="fad fa-copy"></i>
            </button>
            <button class="btn text-primary external-link" (click)="openInvitationLink(element)" title="Abrir link para cadastro.">
              <i class="fad fa-external-link"></i>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row class="cursor-pointer" *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      <mat-paginator [length]="pageInfo.totalElements" [pageSize]="pageInfo.pageSize" [pageSizeOptions]="[5, 10, 20 ]"
        (page)="onPageChange($event)">
      </mat-paginator>
    </div>
  </div>
</div>
