table {
  width: 100%;
}

.username {
  max-width: 350px;

  strong, span {
    max-width: 350px;
  }
}

.mat-row {
  height: auto !important;
}

.mat-cell {
  padding: 8px 8px 8px 0 !important;
}

// .full-container {
//   max-height: calc(100vh - 70px);
//   overflow: auto;
// }

@media (max-width: 767px) {
  .buttons {
    position: sticky;
    top: 0;
    z-index: 8;
  }
}

.checkbox-col {
  width: 13%;
}
