.login-background {
  background-color: #fff;
}

// .content-background {
//   background: #4b4279;
// }

#land-page {
  height: 100vh;
  width: 100vw;
}

#footer {
  display: flex;
  align-items: flex-end;
}

.centralize-in-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-bold {
  font-weight: bold !important;
}
