<header class="topbar is_stuck" style="position: absolute; top: 0px; width: 100%;">
  <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
    <div class="navbar-header d-flex align-items-center">

      <!-- Botão Toggle Sidebar: COMPACT - DEFAULT -->
      <a class="btn-sidebar-toggle-sm text-muted" (click)="toggleSidebar()"
         style="min-width: 70px;">
        <i class="fa fa-bars fa-md"></i>
      </a>

      <!-- Botão Toggle Sidebar: COMPACT - DEFAULT -->
      <a class="btn-sidebar-toggle-md text-muted" (click)="toggleSidebar()"
         style="min-width: 70px;">
        <i class="fa fa-bars fa-md"></i>
      </a>

      <!-- Botão Toggle Sidebar Type: COMPACT - DEFAULT -->
      <a class="btn-sidebar-toggle-lg text-muted" (click)="toggleSidebarStyle()"
         style="min-width: 70px;">
        <i class="fa fa-bars fa-md"></i>
      </a>

      <app-brand [src]="logo || DEFAULT_LOGO" classes="px-2" class="text-center">
      </app-brand>
    </div>
    <div class="navbar-collapse">
      <ul class="navbar-nav mr-auto mt-md-0">
        <li class="nav-item px-3">
          <a class="d-none nav-link sidebar-toggler hidden-md-up text-muted waves-effect waves-dark" (click)="toggleSidebar()">
            <i class="fa fa-bars fa-md"></i>
          </a>
        </li>
      </ul>


      <div class="row align-items-center mr-3 signin-as-navbar signin-as-navbar">
        <span class="accounting-name">
          {{ currentUser.organization.name }}
        </span>
        <i class="fa fa-pencil mr-4 ml-3 cursor-pointer" (click)="openSiginAsModal()" *ngIf="currentUser.type === 0"></i>
      </div>

      <ul class="navbar-nav my-lg-0">
        <li class="nav-item dropdown">
          <a [matMenuTriggerFor]="menu" class="cursor-pointer">
            <app-pulsating-spinner [pulse]="pulse()">
              <img class="img-thumbnail rounded-circle"
                [src]="currentUser.avatar || './assets/images/Portrait_Placeholder.png'" width="45" height="45"
                onError="this.src='./assets/images/Portrait_Placeholder.png';">
            </app-pulsating-spinner>
          </a>
          <mat-menu #menu="matMenu">
            <a [routerLink]="['/dashboard/users/', currentUser.id]"
            class="dropdown-header dropdown-item text-center mt-0 py-3">
              <h6 class="text-dark overflow-ellipsis m-0" [ngClass]="{ 'text-danger': pulse() }">{{ currentUser.firstName + ' ' + (currentUser.lastName || '') }}</h6>
              <div class="text-danger mt-2 mb-2" *ngIf="pulse()">
                <strong class="d-block">Cadastro incompleto,</strong>
                <strong>Clique para concluí-lo!</strong>
              </div>
              <small class="text-muted text-lowercase">{{ currentUser.email }}</small>
            </a>
            <a mat-menu-item *ngIf="shouldShowAccountingDetailsPage()"
              [routerLink]="['/dashboard/organizations/', currentUser.organization.id]">
              <i class="fas fa-sign-out-alt" aria-hidden="true"></i>&nbsp;&nbsp;
              <span>Configurações da Contabilidade</span>
            </a>
            <a mat-menu-item (click)="logout()">
              <i class="fas fa-sign-out-alt" aria-hidden="true"></i>&nbsp;&nbsp;<span>Sair</span>
            </a>
          </mat-menu>
        </li>
      </ul>
    </div>
  </nav>
</header>
