<div class="page-wrapper bg-white">
  <app-breadcrumb [append]="breadcrumb"></app-breadcrumb>
  <div class="content-wrapper full-width-nav-tabs pt-2 border-bottom-0">
    <div class="container">
      <ul id="nav-tab" role="tablist" class="nav nav-tabs nav-justified-not">
        <li class="nav-item ">
          <a (click)="currentTab = 'general'" class="p-2 px-3 nav-link" [class.active]="currentTab === 'general'">
            <i aria-hidden="true" class="fad fa-cog"></i>&nbsp;&nbsp;Básico
          </a>
        </li>
        <li *ngIf="canSeeTabs()" class="nav-item">
          <a (click)="currentTab = 'security'" class="p-2 px-3 nav-link" [class.active]="currentTab === 'security'">
            <i aria-hidden="true" class="fad fa-user-shield"></i>&nbsp;&nbsp;Segurança
          </a>
        </li>
        <li *ngIf="canSeeTabs()" class="nav-item" [ngClass]="{ 'text-danger': missingInformations() }">
          <a (click)="currentTab = 'extra'" class="p-2 px-3 nav-link" [class.active]="currentTab === 'extra'">
            <i aria-hidden="true" class="fad fa-layer-plus"></i>&nbsp;&nbsp;Informações Extras
            <span *ngIf="missingInformations()">&nbsp;&nbsp; <i class="fad fa-exclamation"></i></span>
            </a>
          </li>
        <li *ngIf="isCustomer()" class="nav-item">
          <a (click)="currentTab = 'organizations'" class="p-2 px-3 nav-link"
            [class.active]="currentTab === 'organizations'">
            <i aria-hidden="true" class="fad fa-industry-alt"></i>&nbsp;&nbsp;Empresas
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container pt-4">
    <app-user-security *ngIf="currentTab == 'security'" [user]="user" (userUpdate)="onUserUpdate($event)">
    </app-user-security>
    <app-user-general *ngIf="currentTab == 'general'" [user]="user" (userUpdate)="onUserUpdate($event)">
    </app-user-general>
    <app-user-organizations *ngIf="currentTab == 'organizations'" [user]="user" (userUpdate)="onUserUpdate($event)">
    </app-user-organizations>
    <app-user-extras-tab *ngIf="currentTab === 'extra'" [user]="user" [informations]="rolesAndDepartments"></app-user-extras-tab>
  </div>
  <footer class="footer d-none"> © 2017 Material Pro Admin by wrappixel.com </footer>
</div>
