<div class="page-wrapper bg-white">
  <app-breadcrumb [append]="breadcrumb"></app-breadcrumb>
  <div *ngIf="currentUser.id === user.id" class="content-wrapper full-width-nav-tabs pt-2 border-bottom-0">
    <div class="container">
      <ul id="nav-tab" role="tablist" class="nav nav-tabs nav-justified-not">
        <li class="nav-item ">
          <a (click)="currentTab = 'general'" class="p-2 px-3 nav-link" [class.active]="currentTab === 'general'">
            <i aria-hidden="true" class="fad fa-cog"></i>&nbsp;&nbsp;Básico
          </a>
        </li>
        <li class="nav-item">
          <a (click)="currentTab = 'security'" class="p-2 px-3 nav-link" [class.active]="currentTab === 'security'">
            <i aria-hidden="true" class="fad fa-user-shield"></i>&nbsp;&nbsp;Segurança
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container pt-4">
    <app-user-security *ngIf="currentTab == 'security'" [user]="user" (userUpdate)="onUserUpdate($event)">
    </app-user-security>
    <app-user-general *ngIf="currentTab == 'general'" [user]="user" (userUpdate)="onUserUpdate($event)">
    </app-user-general>
  </div>
  <footer class="footer d-none"> © 2017 Material Pro Admin by wrappixel.com </footer>
</div>