<div class="page-wrapper bg-white">
  <app-breadcrumb [append]="breadcrumb"></app-breadcrumb>
  <div class="container pt-4">
    <div class="row">
      <div class="col">

      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-body">
          <div class="form-group row pt-4 pb-2">
            <div class="col-md-3">
              <h5 class="m-0"><i class="ft-user"></i> Avatar</h5>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <a class="position-relative p-0" (click)="openDialog()">
                      <img [src]="user.avatar || './assets/images/Portrait_Placeholder.png'" width="150"
                        class="img-thumbnail rounded-circle" alt="Lucas Martins"
                        onError="this.src='./assets/images/Portrait_Placeholder.png';">
                    </a>
                  </div>
                </div>
                <div class="d-none row justify-content-center mt-2"><button type="button" data-toggle="modal"
                    data-target="#modal-image-cropper" class="btn btn-link"><i aria-hidden="true"
                      class="fad fa-pencil-alt"></i><span>&nbsp;&nbsp;Editar</span></button> <button type="button"
                    class="btn btn-link"><i aria-hidden="true"
                      class="fas fa-times"></i><span>&nbsp;&nbsp;Remover</span></button></div>
              </div>
            </div>
          </div>
          <!-- ************************************************************************************************** -->
          <!-- **********************              Informações Básicas                *************************** -->
          <!-- ************************************************************************************************** -->
          <div class="form-group row">
            <div class="col-md-3">
              <h5 class="m-0"><i class="ft-user"></i> Informações Básicas</h5>
            </div>
            <label for="firstName" class="col-md-3 label-control text-right"><span
                class="align-middle">Nome:</span></label>
            <div class="input-group col-md-6">
              <input id="firstName" class="form-control" [(ngModel)]="user.firstName"
                [disabled]="!isEditing('firstName')">
              <div *ngIf="canEdit" class=" input-group-append">
                <button class="btn border" *ngIf="!isEditing('firstName')" (click)="edit('firstName')">
                  <i class="fa fa-pencil"></i>
                </button>
                <button class="btn border text-success" *ngIf="isEditing('firstName')"
                  (click)="patch(user.id, {'firstName': user.firstName})">
                  <i class="fa fa-save"></i>
                </button>
                <button class="btn border text-danger" *ngIf="isEditing('firstName')" (click)="edit()">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-3"> </div>
            <label for="lastName" class="col-md-3 label-control text-right">Sobrenome: </label>
            <div class="input-group col-md-6">
              <input id="lastName" class="form-control" [(ngModel)]="user.lastName" [disabled]="!isEditing('lastName')">
              <div *ngIf="canEdit" class=" input-group-append">
                <button class="btn border" *ngIf="!isEditing('lastName')" (click)="edit('lastName')">
                  <i class="fa fa-pencil"></i>
                </button>
                <button class="btn border text-success" *ngIf="isEditing('lastName')"
                  (click)="patch(user.id, {'lastName': user.lastName})">
                  <i class="fa fa-save"></i>
                </button>
                <button class="btn border text-danger" *ngIf="isEditing('lastName')" (click)="edit()">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-3"> </div>
            <label for="phone" class="col-md-3 label-control text-right">Celular: </label>
            <div class="input-group col-md-6">
              <input id="phone" class="form-control" [(ngModel)]="user.phone" [disabled]="!isEditing('phone')">
              <div *ngIf="canEdit" class=" input-group-append">
                <button class="btn border " *ngIf="!isEditing('phone')" (click)="edit('phone')">
                  <i class="fa fa-pencil"></i>
                </button>
                <button class="btn border text-success" *ngIf="isEditing('phone')"
                  (click)="patch(user.id, {'phone': user.phone})">
                  <i class="fa fa-save"></i>
                </button>
                <button class="btn border  text-danger" *ngIf="isEditing('phone')" (click)="edit()">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-3"> </div>
            <label for="email" class="col-md-3 label-control text-right">E-mail: </label>
            <div class="input-group col-md-6">
              <input id="email" class="form-control" [(ngModel)]="user.email" [disabled]="!isEditing('email')">
              <div *ngIf="false" class=" input-group-append">
                <button class="btn border" *ngIf="!isEditing('email')" (click)="edit('email')">
                  <i class="fa fa-pencil"></i>
                </button>
                <button class="btn border text-success" *ngIf="isEditing('email')"
                  (click)="patch(user.id, {'email': user.email})">
                  <i class="fa fa-save"></i>
                </button>
                <button class="btn border text-danger" *ngIf="isEditing('email')" (click)="edit()">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer d-none"> © 2017 Material Pro Admin by wrappixel.com </footer>
</div>