<div class="page-wrapper bg-white">
  <app-breadcrumb [tutorial]="tutorial"></app-breadcrumb>
  <div class="d-none content-wrapper full-width-nav-tabs py-2">
    <div class="container">
      <ul class="nav nav-pills flex-row-reverse">
        <li class="nav-item notification-sidebar-toggle">
          <button class="btn btn-primary nav-link py-1 px-2 active">
            <i aria-hidden="true" class="fad fa-plus-square"></i>
            <span class="ml-2"></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="container pt-4">
    <app-better-info *ngIf="message?.text" [color]="message.color">
      <span>{{ message.text }}</span><span *ngIf="message.link">Clique <a href="message.link" target="_blank">aqui</a></span>
    </app-better-info>
    <div class="row">
      <div class="col">
        <h3>Nossos Aplicativos</h3>
      </div>
    </div>
    <div class="row w-100 m-0 mt-4 text-center">
      <div *ngFor="let product of ottProducts; let i = index" class="col-md-3 col-sm-6">
        <div class="product card p-0">
          <div class="card-body" (click)="gotTo(getButtonToShow(product).url)">
            <img class="bg-transparent w-100 px-3 py-4  border-0" [src]="product.imageUrl" [alt]="product.name">
          </div>
        </div>
      </div>
    </div>
    <div class="text-secondary text-center m-0 m-auto" *ngIf="(ottProducts && !ottProducts.length)">
      <h1 class="mt-5">Você não tem acesso a nenhum aplicativo.</h1>
      <h3>Se você acha que isto está errado, entre em contato com seu Administrador.</h3>
    </div>
    <div class="row" *ngIf="partnerProducts?.length">
      <div class="col">
        <h3>Nossos Parceiros</h3>
      </div>
    </div>
    <div class="row w-100 m-0 mt-4 text-center" *ngIf="partnerProducts?.length">
      <div *ngFor="let product of partnerProducts; let i = index" class="col-md-3 col-sm-6">
        <div class="product card p-0">
          <div class="card-body" (click)="gotTo(getButtonToShow(product).url)">
            <img class="bg-transparent w-100 px-3 py-4  border-0" [src]="product.imageUrl" [alt]="product.name">
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer d-none"> © 2017 Material Pro Admin by wrappixel.com </footer>
</div>
