<div class="page-wrapper bg-white">
  <app-breadcrumb></app-breadcrumb>
  <div class="d-none content-wrapper full-width-nav-tabs py-2">
    <div class="container">
      <ul class="nav nav-pills flex-row-reverse">
        <li class="nav-item notification-sidebar-toggle">
          <button class="btn btn-primary nav-link py-1 px-2 active">
            <i aria-hidden="true" class="fad fa-plus-square"></i>
            <span class="ml-2"></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="container pt-4">
    <div class="row">
      <div class="col">
        <h3>Aplicativos</h3>
      </div>
    </div>
    <div class="row w-100 m-0 mt-4 text-center">
      <div class="product p-0 card m-2" *ngFor="let product of products">
          <div class="card-body border-bottom">
            <h3>{{ product.name }}</h3>
            <small>{{ product.description }}</small>
          </div>
          <div class="card-buttons">
            <div class="container-fluid px-0 py-3 justify-content-between bg-white">
              <button class="btn btn-light mx-1" *ngIf="product.appUrl" (click)="openAboutDialog(product)"><i class="fad fa-question-circle"></i>&nbsp;&nbsp;&nbsp;Sobre</button>
              <button class="btn btn-light mx-1" (click)="gotTo(product.appUrl)"><i class="fad fa-long-arrow-right"></i>&nbsp;&nbsp;&nbsp;Abrir</button>
            </div>
          </div>
      </div>
      <!-- <app-product-card *ngFor="let product of products" [product]="product"></app-product-card> -->
    </div>
    <div class="text-secondary text-center m-0 m-auto" *ngIf="(products && !products.length)">
      <h1 class="mt-5">Você não tem acesso a nenhum aplicativo.</h1>
      <h3>Se você acha que isto está errado, entre em contato com seu Administrador.</h3>
    </div>
  </div>
  <footer class="footer d-none"> © 2017 Material Pro Admin by wrappixel.com </footer>
</div>
