<div class="page-wrapper bg-white">
  <app-breadcrumb [tutorial]="tutorial"></app-breadcrumb>
  <div class="content-wrapper full-width-nav-tabs py-2">
    <div class="container">
      <ul class="nav nav-pills flex-row-reverse">
        <li class="nav-item notification-sidebar-toggle">
          <button *ngIf="canCreateOrganization()" class="btn btn-primary nav-link py-1 px-2 active"
            (click)="openDialog()">
            <i aria-hidden="true" class="fad fa-plus-square"></i>
            <span class="ml-2"> Nova Empresa </span>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row pt-4 pb-2">
      <div class="col-12">
        <app-complex-search-input [debounceTime]="300" [rules]="filteringRules()" [hackings]="hackings()"
          [defaultRule]="defaultRule" (filterApplied)="apply($event)">
        </app-complex-search-input>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let filter of filters" [selectable]="true" [removable]="true"
            (removed)="removeFilter(filter)">
            {{ filter.description }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <table mat-table matSort [dataSource]="organizations" class="table-hover mat-elevation-z0">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> <strong>Nome</strong> </th>
            <td mat-cell *matCellDef="let element">
              {{element.name}}
            </td>
          </ng-container>
          <ng-container matColumnDef="cnpj">
            <th mat-header-cell *matHeaderCellDef> CPF/CNPJ </th>
            <td mat-cell *matCellDef="let element"> {{element.cnpj | doc}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row class="cursor-pointer" *matRowDef="let row; columns: displayedColumns;" [routerLink]="row.id">
          </tr>
        </table>
        <mat-paginator [length]="pageInfo.totalElements" [pageSize]="pageInfo.pageSize" [pageSizeOptions]="[5, 10, 20]"
          (page)="onPageChange($event)">
        </mat-paginator>
      </div>
    </div>
  </div>
  <footer class="footer d-none"> © 2020 Ottimizza </footer>
</div>
