<nav aria-label="breadcrumb" class="breadcrumb">
  <div class="content-wrapper m-0 w-100">
    <div class="container">
      <ol class="breadcrumb m-0 p-0">
        <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item">
          <a [routerLink]="[breadcrumb.url, breadcrumb.params]" class="">
            <span class="d-sm-inline-block d-md-none">
              <i v-bind:class="item.icon"></i>
            </span>
            <span class="d-md-inline-block">
              {{breadcrumb.label}}
            </span>
          </a>
        </li>
        <li *ngIf="append" class="breadcrumb-item">
          <a [routerLink]="[append.url, append.params]" class="">
            <span class="d-sm-inline-block d-md-none">
              <i v-bind:class="item.icon"></i>
            </span>
            <span class="d-md-inline-block">
              {{append.label}}
            </span>
          </a>
        </li>
      </ol>
    </div>
  </div>
</nav>