<strong mat-dialog-title>{{ accountingName }}</strong>
<h1 mat-dialog-title>Deseja entrar como qual contabilidade?</h1>
<div mat-dialog-content>
  <form>

    <p>Busque a contabilidade desejada para acessar</p>

    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input matInput cdkFocusInitial [placeholder]="getContent(currentAccounting)" [matAutocomplete]="autoname" [(ngModel)]="filtering" (keyup)="filter()" name="name">
      <mat-autocomplete #autoname="matAutocomplete" (optionSelected)="filter()">
        <mat-option *ngFor="let option of accountings" [value]="getContent(option)">
          {{ getContent(option) }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="confirm()">Confirmar</button>
  <button mat-button (click)="onNoClick()">Cancelar</button>
</div>
